.tab {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  position: relative;
  border-bottom: 1px solid var(--global-divider-color);
  --tab-indicator-height: 3px;
  --tab-indicator-color: var(--global-theme-color);
}

.tab > * {
  flex: none;
  position: relative;
}

.tab > * > a {
  display: block;
  text-align: left;
  padding: 9px 20px;
  margin-bottom: -3px;
  color: var(--global-text-color-light);
  border-bottom: 2px solid transparent;
  border-bottom-color: transparent;
  font-size: 12px;
  text-transform: uppercase;
  transition: color 0.1s ease-in-out;
  line-height: 20px;
}

.tab > .active > a {
  color: var(--global-text-color);
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: var(--tab-indicator-height);
    background-color: var(--tab-indicator-color);
    border-radius: 99px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
}

.tab > li > a {
  text-decoration: none;
  cursor: pointer;
}

.tab-content {
  padding: 0;
}

.tab-content > li {
  display: none;
}
.tab-content > li.active {
  display: block;
}
