/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$orange-color};
  --global-hover-color: #{$orange-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: transparent;
  --global-footer-text-color: #{$black-color};
  --global-footer-link-color: #{$blue-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #{$white-color};
  --global-highlight-color: #{$red-color-dark};
  --global-back-to-top-bg-color: #{$orange-color};
  --global-back-to-top-text-color: #{$white-color};
  --global-newsletter-bg-color: #{$white-color};
  --global-newsletter-text-color: #{$black-color};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #42b983;
  --global-tip-block-hover: #c7e6d8;
  --global-warning-block: #bd872a;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #bd872a;
  --global-warning-block-hover: #efe6d7;
  --global-danger-block: #BE3536;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #BE3536;
  --global-danger-block-hover: #e9d3d3;
  --global-note-block: #2B5FC3;
  --global-note-block-title: #2B5FC3; 
  --global-note-block-hover: #cad5e8;
  --global-important-block: #7B52D7;
  --global-important-block-title: #7B52D7;
  --global-important-block-hover: #d6cee8;
  --global-blockquote-text-color: #{$blockquote-text-color};
  --global-theme-color-light: #fee4bd;
  // Light toggle
  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #{darken($orange-color, 10%)};
    }
  }
}

html[data-theme="dark"] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$orange-color};
  --global-hover-color: #{$orange-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: transparent;
  --global-footer-text-color: #{$white-color};
  --global-footer-link-color: #{$blue-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{$grey-900};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($white-color, "red", $space: rgb)},
    #{color.channel($white-color, "green", $space: rgb)},
    #{color.channel($white-color, "blue", $space: rgb)},
    0.5
  );
  --global-back-to-top-text-color: #{$black-color};
  --global-newsletter-bg-color: #{$grey-color-light};
  --global-newsletter-text-color: #{$grey-color-dark};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #42b983;
  --global-tip-block-hover: #DDFFF2;
  --global-warning-block: #bd872a;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #bd872a;
  --global-warning-block-hover: #dedbd5;
  --global-danger-block: #BE3536;
  --global-danger-block-bg: #ffe0e0; 
  --global-danger-block-text: #600;
  --global-danger-block-title: #BE3536;
  --global-danger-block-hover: #e0a1a1;
  --global-note-block: #4677d3;
  --global-note-block-title: #4677d3; 
  --global-note-block-hover: #a4bae0;
  --global-important-block: #855fde;
  --global-important-block-title: #855fde;
  --global-important-block-hover: #c4b4ea;
  --global-blockquote-text-color: #{$blockquote-text-color};
  --global-theme-color-light: var(--global-code-bg-color);
  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
